{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationFormWithSlug %}

<div class="ui two column stackable grid">
    <div class="six wide column">
        {{ form_errors(form) }}

        <div class="ui segment">
            {{ form_row(form.code) }}
            <div class="two fields">
                {{ form_row(form.enabled) }}
                {{ form_row(form.channels) }}
            </div>
        </div>
    </div>
    <div class="ten wide column">
        {{ translationFormWithSlug(form.translations, '@SyliusAdmin/Product/_slugField.html.twig', terms) }}
    </div>
</div>
